<!--created by CongNam 6/7-->
<!--*******-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="toast" th:if="${message!=null}" th:text="${message}"></div>
<form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">
    <h2 class="text-center">Bạn quên mật khẩu</h2>
    <p>Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.</p>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            Bạn đã yêu cầu đặt lại mật khẩu mới thành công!
        </div>
    </div>
    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope color-blue"></i>
            </span>
            <input id="email" class="form-control" placeholder="địa chỉ email" th:field="*{email}"/>
        </div>
        <p class="error-message"
           th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Email chưa đúng! Bạn hãy nhập đúng email đã đăng kí</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Lấy Lại Mật Khẩu</button>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            Bạn chưa có tài khoản? <a href="/" th:href="@{/registration}">Đăng kí tại đây</a>
        </div>
        <div class="form-group">
            Đã đăng ký? <a href="/" th:href="@{/login}">Đăng nhập</a>
        </div>
    </div>
</form>
</body>
</html>
